@charset "utf-8";
.m-introduction {
  background: url(#{base(images-url)}zora-bg.png) center center no-repeat;
  background-size: 180% 100%;
}
.drop-tag {
  @extend %tag;
  opacity: 0;
  &.del {
    text-decoration: line-through;
  }
}

.play {
  /*未婚*/.drop-tag:nth-child(1) { -webkit-animation:drop-tag .7s .5s ease-in-out forwards; }
  /*女生*/.drop-tag:nth-child(2) { -webkit-animation:drop-tag 1.5s .3s ease-in-out forwards; }
  /*女汉纸*/.drop-tag:nth-child(3) { -webkit-animation:drop-tag 2s .2s ease-in-out forwards; margin-left: -20%; }
  /*90后的前奏*/.drop-tag:nth-child(4) { -webkit-animation:drop-tag .8s .5s ease-in-out forwards; }
  /*狮子座*/.drop-tag:nth-child(5) { -webkit-animation:drop-tag 2.5s .1s ease-in-out forwards; }
  /*巨蟹座*/.drop-tag:nth-child(6) { -webkit-animation:drop-tag 3s .2s ease-in-out forwards; margin-left: -20%; }
  /*本科*/.drop-tag:nth-child(7) { -webkit-animation:drop-tag 3.2s .1s ease-in-out forwards; }
}
